.mobile__menu_button {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile__menu_button {
    display: block;
    position: absolute;
    top: 5px;
    left: 20px;
    width: 35px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-image: url("../../../../images/mobileMenu.svg");
    background-repeat: no-repeat;
  }
  .mobile__menu_button:active {
    display: block;
    position: absolute;
    top: 5px;
    left: 20px;
    width: 35px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-image: url("../../../../images/mobileMenuOpen.svg");
    background-repeat: no-repeat;
  }
  .mobile__menu_button:hover {
  }
}
