.data__menu-btn {
  border-radius: 50%;
  background-color: rgb(237, 237, 237, 0.2);
  border: 1px solid gainsboro;
  width: 50px;
  height: 50px;
  margin: 10px auto;

  box-shadow: -1px -2px 1px 1px rgb(139, 139, 139, 0.7) inset;

  color: transparent;
  font-size: 14px;
  overflow: hidden;
  transition: width 0.5s ease, border-radius 2.5s, box-shadow 0.5s ease,
    color 0.1s 0s linear;
}
