.cover__text-content {
  position: absolute;
  color: rgb(40, 40, 40);
  right: 100px;
  top: 41%;
  text-align: right;
}
@media screen and (max-width: 1050px) {
  .cover__text-content {
    position: sticky;
    margin: auto 20px auto auto;
    top: 0%;
    bottom: 54%;

    right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .cover__text-content {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 100px;
    margin-top: 20px;
    text-align: left;
  }
}
