.header__title {
  font-family: "comfortaa";
  font-weight: 700;
  font-size: 72px;
  max-width: 1200px;
  text-align: center;
  margin: 100px auto 20px;
  color: #0000;
  background: linear-gradient(90deg, #1891e2 50%, #000 0) var(--_p, 100%) / 200%
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 2s;
}
.header__title:hover {
  --_p: 0%;
}
