.footer {
  background-color: rgb(41, 41, 41);
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 2.5rem;
  width: 100%;
  min-height: 250px;
  color: rgb(225, 225, 225);
  box-shadow: 0px 5px 2px 3px rgba(11, 11, 11, 0.4) inset;
}

@media screen and (max-width: 600px) {
  .footer {
    min-height: 150px;
  }
}
