.footer {
  background-color: rgb(166, 166, 166);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 2.5rem;
  width: 100%;
}
.footer__content {
  width: 1000px;
  margin: 0 auto;
  min-height: 150px;
}
