.footer {
  background-color: rgb(41, 41, 41);
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 2.5rem;
  width: 100%;
  min-height: 250px;
  color: white;
}

.box {
  border: none;
  height: 450px;
  max-width: 500px;
}
