.data__menu-btn_container {
  display: flex;
  position: absolute;
  flex-direction: column;
  max-width: 180px;
  left: 15px;
  top: 90px;
}

.data__menu-btn_container:hover > .data__menu-btn {
  width: 140px;
  border-radius: 25px;
  right: 0;
}
.data__menu-btn_container:hover + .main__content {
  left: 180px;
  transition: left 0.4s 0s ease;
}
.data__menu-btn_container + .main__content {
  left: 80px;
  transition: left 0.4s 0.15s ease;
}
