.cover__label_item {
  margin: 50px auto;
  font-size: 18px;
  list-style-type: none;
}

@media screen and (max-width: 1100px) {
  .cover__label_item {
    margin: 42px auto 38px 0;
  }
}
@media screen and (max-width: 600px) {
  .cover__label_item {
    font-size: 1em;
    margin-bottom: 40px;
    margin-top: 0;
  }
}
