.interactive__graph {
  border: 2px solid rgb(184, 184, 184, 0.2);
  border-radius: 25px;
  padding: 25px 80px 25px 15px;
  max-width: min-content;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .interactive__graph {
    max-width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .interactive__graph {
    height: auto;
  }
}
